@charset "UTF-8";

/* ページ全体のスタイル
--------------------------------------------------- */
/* デフォルトのサイズを10pxに指定 */
html {
    font-size: 62.5%;
}

@media (max-width: 358px) {
    html {
        font-size: calc(10 / 358 * 100vw);
    }
}

body {
    font-family: 'Noto serif JP', sans-serif;
    font-weight: 400;
    /* デフォルトを10pxにしているのでここで16pxに指定し直し */
    font-size: 1.6rem;
    color: #000000;
}


* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* 部品
--------------------------------------------------- */

/* ヘッダー
--------------------------------------------------- */
.main-visual {
    position: relative;
    width: 100%;
    aspect-ratio: 390/577;
    height: auto;
}
@media (min-width: 768px) {
    .main-visual {
        aspect-ratio: 1500/720;
    }
}

.main-visual__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45rem;
    object-fit: cover;
    z-index: -1;
}

@media (min-width: 768px) {
    .main-visual__image {
        height: auto;
    }
}

.main-visual__logo {
    font-family: 'Marcellus', sans-serif;
    font-size: 2.4rem;
    line-height: calc(30/24) ;
    letter-spacing: .5rem;
    text-align: center;
    padding: 2.4rem 0 0 .6rem;
}
@media (min-width: 768px) {
    .main-visual__logo {
        font-size: 2.8rem;
        line-height: calc(35/28);
        letter-spacing: .56rem;
        padding: 3.2rem 0 0 .6rem;
    }
}

.main-visual__container {
    margin: 0 auto;
}
@media (min-width: 768px) {
    .main-visual__container {
        max-width: 120rem;
    }
}

.main-visual__title-container {
    position: absolute;
    max-width: 37.8rem;
    top: 72.5%;
    left: 5.9%;
}

@media (min-width: 768px) {
    .main-visual__title-container {
        position:initial;
        max-width: 120rem;
        margin: 20.25rem auto 0;
        padding-left: 7.34rem;
    }
}

.main-visual__title{
    font-family: 'Marcellus', sans-serif;
    font-size: 4.1rem;
    line-height: calc(51/41);
    letter-spacing: 1.23rem;
}

.main-visual__subtitle{
    font-size: 2rem;
    line-height: calc(29/20);
    letter-spacing: .6rem;
    margin-top: .75rem;
}

@media (min-width: 768px) {
    .main-visual__title {
        font-size: 5rem;
        line-height: calc(68/50);
        letter-spacing: 1.5rem;
    }

    .main-visual__subtitle {
        font-size: 2.5rem;
        line-height: calc(36/25);
        letter-spacing: .75rem;
    }

}

/* 購入ボタン
--------------------------------------------------- */
.shop-button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
}
.shop-button-group--bottom{
    padding-top: 1.85rem;
}
@media (min-width: 768px) {
    .shop-button-group {
        max-width: 120rem;
        margin: 4.8rem auto;
    }
    .shop-button-group--bottom {
        padding-top: 0;
    }
}



.shop-button-group__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0F4FF;
    width: 100%;
    margin: 0 1.6rem;
    padding-bottom: 3.4rem;
}
@media (min-width: 768px) {
    .shop-button-group__container {
        flex-direction: row;
        justify-content: center;
        margin: 0 10rem;
        gap: 3.2rem;
        padding: 2rem;
    }
}

.shop-button-group__section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.1rem 0 2rem .2rem;
}
@media (min-width: 768px) {
    .shop-button-group__section-title {
        align-items: flex-start;
    }
}

.shop-button-group__title{
    font-size: 1.8rem;
    line-height: calc(26/18);
    letter-spacing: .18rem;
    color: #111111;
}
@media (min-width: 768px) {
    .shop-button-group__title {
        font-size: 2.4rem;
        line-height: calc(35/24);
        letter-spacing: .24rem;
    }
}

.shop-button-group__price{
    font-size: 1.4rem;
    line-height: calc(20/14);
    letter-spacing: .14rem;
    margin-top: .4rem;
}
@media (min-width: 768px) {
    .shop-button-group__price {
        font-size: 1.6rem;
        line-height: calc(23/16);
        letter-spacing: .17rem;
        margin-top: .7rem;
    }
}

.shop-button-group__btn-online-shop,
.shop-button-group__btn-purchase {
    width: 30rem;
    height: 5.8rem;
    background-color: #46C4DB;
    color: #FFFFFF;
    font-size: 1.8rem;
    line-height: calc(26/18);
    text-align: center;
    padding-top: 1.7rem;
    border-radius: 3.4rem;
}

.shop-button-group__form{
    margin-top: 2rem;
}
@media (min-width: 768px) {
    .shop-button-group__form {
        margin-top: 0;
        margin-right: .2rem;
    }
}

.shop-button-group__btn-purchase{
    background-color: #5DD5AB;
    padding-top: .1rem;
}

@media (min-width: 768px) {
    .shop-button-group__btn-online-shop {
        margin-left: 3rem;
    }

}


/* 紹介
--------------------------------------------------- */
.product-introduction {
    background-image: url(/assets/image/keepYourSkinBeautiful_sp.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 68rem;
}
@media (min-width: 768px) {
    .product-introduction {
        background-image: url(/assets/image/keepYourSkinBeautiful_pc.jpg);
        height: 55rem;
    }
}

@media (min-width: 768px) {
    .product-introduction__container {
        max-width: 120rem;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end
    }
}

.product-introduction__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1.6rem;
    padding-top: 2.8rem;
}
@media (min-width: 768px) {
    .product-introduction__text-container {
        width: 46.7rem;
        align-items: flex-start;
        margin: 8.4rem 5.4rem 0 0;
        padding-right: 3.7rem;
    }
}

.product-introduction__title{
    font-family: 'EB Garamond', serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: calc(54/30);
    color: #FFFFFF;
    padding-top: 1.25rem;
}
@media (min-width: 768px) {
    .product-introduction__title {
        font-size: 3.8rem;
        line-height: calc(54/38);
    }
}

.product-introduction__subtitle{
    font-size: 2.4rem;
    font-weight: 600;
    line-height: calc(37/24);
    color: #FFFFFF;
}
@media (min-width: 768px) {
    .product-introduction__subtitle {
        line-height: calc(47/24);
    }
}

.product-introduction__text{
    font-size: 1.4rem;
    line-height: calc(32/14);
    color: #FFFFFF;
    padding-top: 1.25rem;
}
@media (min-width: 768px) {
    .product-introduction__text {
        padding-top: 1.2rem;
    }
}

/* Voices
--------------------------------------------------- */
.customer-voice {
    position: relative;
    margin: 5.35rem 0 7.5rem;
    padding: 0 .6rem;
}
@media (min-width: 768px) {
    .customer-voice {
        margin: 9.3rem auto 11.3rem;
        max-width: 120rem;
    }
}
.customer-voice__container {
    padding-left: .2rem;
    text-align: center;
}

.customer-voice__title {
    font-family: 'EB Garamond', serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: calc(32/30);
    letter-spacing: .15rem;
}
@media (min-width: 768px) {
    .customer-voice__title {
        font-size: 4.5rem;
        line-height: calc(32/45);
        letter-spacing: .22rem;
        padding-left: .1rem;
    }
}

.customer-voice__subtitle {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: calc(32/16);
    letter-spacing: .09rem;
    margin-top: .25rem;
}
@media (min-width: 768px) {
    .customer-voice__subtitle {
        font-size: 2rem;
        line-height: calc(32/20);
        margin-top: 1.95rem;
    }
}

.customer-voice__carousel-wrapper {
    overflow: hidden;
    margin: .8rem auto;
    width: 74%;
}

@media (min-width: 768px) {
    .customer-voice__carousel-wrapper {
        width: 82.4%;
        margin: 1.45rem auto;
    }

    .customer-voice__carousel {
        overflow: visible;
    }
}

.customer-voice__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.4rem;
    background-color: #DBF7F9;
    width: 28rem;
    padding: 2.8rem 1.5rem 2.4rem;
}
@media (min-width: 768px) {
    .customer-voice__slide {
        width: 30rem;
        padding-bottom: 3.8rem;
    }
}

.customer-voice__image {
    width: 8rem;
    margin-left: 1rem;
}
@media (min-width: 768px) {
    .customer-voice__image {
        width: 10rem;
        margin-top: 1.2rem;
        margin-left: 0;
    }
}

.customer-voice__name {
    font-size: 1.4rem;
    line-height: calc(32/14);
    letter-spacing: .07rem;
    margin-top: .2rem;
    margin-left: .2rem;
}
@media (min-width: 768px) {
    .customer-voice__name {
        font-size: 1.5rem;
        line-height: calc(32/15);
        margin-top: .3rem;
        margin-right: .2rem;
    }
}

.customer-voice__text {
    font-size: 1.4rem;
    line-height: calc(28/14);
    margin-top: 1rem;
}
@media (min-width: 768px) {
    .customer-voice__text {
        font-size: 1.6rem;
        line-height: calc(28/16);
        margin: .7rem .1rem 0 .05rem
    }
}

.customer-voice__carousel-pagination {
    margin-bottom: -3.75rem;
}
@media (min-width: 768px) {
    .customer-voice__carousel-pagination {
        margin-bottom: -4.55rem;
    }
}

.customer-voice__carousel-pagination .swiper-pagination-bullet {
    width: .9rem;
    height: .9rem;
    background: #EEEEEE;
    opacity: 1;
}

.customer-voice__carousel-pagination .swiper-pagination-bullet-active {
    background: #00AFBF;
}

/* デフォルトのSwiper矢印を非表示にする */
.customer-voice__carousel-button-prev::after,
.customer-voice__carousel-button-next::after {
    content: "";
    display: none;
}

.customer-voice__carousel-button-prev,
.customer-voice__carousel-button-next {
    color: #00AFBF;
    font-size: 3.2rem;
    width: auto;
    height: auto;
    top: 60.5%;
}
.customer-voice__carousel-button-prev{
    left: 4.1%;
}
.customer-voice__carousel-button-next{
    right: 4.1%;
}


@media (min-width: 768px) {
    .customer-voice__carousel-button-prev,
    .customer-voice__carousel-button-next {
        font-size: 4.8rem;
        top: 59%;
    }
    .customer-voice__carousel-button-prev{
        left: 1.83%;
    }
    .customer-voice__carousel-button-next{
        right: 1.83%;
    }
}

/* Accordions
--------------------------------------------------- */
.q-and-a {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #f4ffe8, #C6f0FE);
    padding-bottom: 3.35rem;
}
@media (min-width: 768px) {
    .q-and-a {
        padding-bottom: 4.2rem;
    }
}

.q-and-a__section-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.55rem 0 1.2rem .25rem;
}
@media (min-width: 768px) {
    .q-and-a__section-title {
        padding-top: 5.3rem;
        padding-bottom: 1.3rem;
    }
}

.q-and-a__title{
    font-family: 'EB Garamond', serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: calc(32/30);
    letter-spacing: .14rem;
}
@media (min-width: 768px) {
    .q-and-a__title {
        font-size: 4.5rem;
        line-height: calc(32/45);
        letter-spacing: .2rem;
    }
}

.q-and-a__subtitle{
    font-size: 1.6rem;
    line-height: calc(32/16);
    margin-top: .25rem;
    letter-spacing: .09rem;
}
@media (min-width: 768px) {
    .q-and-a__subtitle {
        font-size: 2rem;
        line-height: calc(32/20);
        letter-spacing: .12rem;
        margin-top: 1.95rem;
    }
}

.q-and-a__accordion-container {
    margin: 0 1.6rem;
    overflow: hidden;
}
@media screen and (min-width: 768px) {
    .q-and-a__accordion-container {
        width: 100%;
        max-width: 60rem;
        margin: 0 auto;
    }
}

/* 質問（dt）のスタイル */
.q-and-a__question,
.q-and-a__answer {
    position: relative;
    display: flex; /* フレックスボックスを使用 */
    background-color: #ffffff;
    padding: 1.42rem 1.4rem 1.3rem;
    cursor: pointer;
}

.q-and-a__question{
    margin-top: 2.08rem;
}
@media (min-width: 768px) {
    .q-and-a__question {
        margin-top: 2.5rem;
        padding-top: 2rem;
        padding-left: 2.2rem;
        padding-bottom: 1.65rem;
    }
}

/* 回答（dd）のスタイル - 初期状態は非表示 */
.q-and-a__answer {
    margin-top: -.6rem;
    padding-top: 0;
    padding-bottom: 1.4rem;
}
@media (min-width: 768px) {
    .q-and-a__answer {
        margin-top: -.4rem;
        padding-left: 2.2rem;
    }
}

.q-and-a__question-prefix,
.q-and-a__answer-prefix {
    font-family: 'EB Garamond', serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: calc(32/16);
    color: #444444;
    margin-left: .2rem;
}
@media (min-width: 768px) {
    .q-and-a__question-prefix,
    .q-and-a__answer-prefix {
        font-size: 1.8rem;
        line-height: calc(32/18);
    }

    .q-and-a__answer-prefix {
        padding-top: .2rem;
    }
}

.q-and-a__question-text,
.q-and-a__answer-text {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: calc(28/15);
    color: #444444;
    margin: .25rem 1.2rem;
}

.q-and-a__answer-text {
    margin-left: 1.3rem;
    margin-right: 0;
    padding-bottom: 1.3rem;
}

@media (min-width: 768px) {
    .q-and-a__question-text,
    .q-and-a__answer-text {
        margin-left: 1.7rem;
        padding-right: 1.2rem;
    }

    .q-and-a__answer-text {
        margin-bottom: -.65rem;
    }
}

.q-and-a__question-toggle{
    position: absolute;
    font-size: 1.5rem;
    top: 24%;
    right: 4.1%;
}
@media (min-width: 768px) {
    .q-and-a__question-toggle {
        font-size: 1.6rem;
        top: 34%;
        right: 3.8%;
    }
}

/* 開いている質問にアイコンを変更 */
.q-and-a__question.open .bi-caret-down-fill {
    display: inline-block;
    transform: rotate(180deg); /* 矢印アイコンの回転 */
}

.q-and-a__question.open .q-and-a__question-toggle {
    top: 26.5%;
    right: 4%;
}
@media (min-width: 768px) {
    .q-and-a__question.open .q-and-a__question-toggle {
        top: 40%;
        right: 3.8%;
    }
}

/* フッター
--------------------------------------------------- */
.footer {
    background-color: #0071CE;
    padding: 2.4rem 0;
}
@media (min-width: 768px) {
    .footer {
        padding: 3.2rem 0;
    }
}

.footer__container {
    position: relative;
    display: flex;
    text-align: center;
    flex-direction: column;
}
@media (min-width: 768px) {
    .footer__container {
        max-width: 120rem;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 2.6rem;
    }
}

.footer__logo{
    font-family: 'Marcellus', sans-serif;
    font-size: 2.8rem;
    line-height: calc(35/28);
    letter-spacing: .55rem;
    color: #FFFFFF;
    padding-left: .6rem;
}
@media (min-width: 768px) {
    .footer__logo {
        font-size: 3.2rem;
        line-height: calc(40/32);
        letter-spacing: .64rem;
    }

}

.footer__nav-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1.6rem;
    justify-content: space-around;
    margin: 2rem 1.4rem 2.4rem;
}
@media (min-width: 768px) {
    .footer__nav-list {
        margin: 0;
        padding: 0 0 .2rem 4.4rem;
        justify-content: flex-start;
        gap: 3.2rem;
    }
}

.footer__nav-link{
    font-size: 1.2rem;
    line-height: calc(17/12);
    color: #FFFFFF;
}
@media (min-width: 768px) {
    .footer__nav-link {
        font-size: 1.4rem;
        line-height: calc(20/14);
    }
}

.footer__copyright{
    font-size: 1.1rem;
    line-height: calc(16/11);
    color: #FFFFFF;
    margin-top: .1px;
}
@media (min-width: 768px) {
    .footer__copyright {
        font-size: 1.2rem;
        line-height: calc(17/12);
        padding-top: .5rem;
        padding-right: .6rem;
    }

}
